<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Establecimientos</title>
</head>
<body>

  <h1>Lista de Establecimientos</h1>

  {% if establecimientos %}
    <ul>
      {% for establecimiento in establecimientos %}
        <li>
          <!-- Enlace a la página de detalles del establecimiento -->
          <a href="{{ url_for('detalle_establecimiento', id=establecimiento['ID']) }}">
            {{ establecimiento['Nombre'] }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay establecimientos disponibles.</p>
  {% endif %}

</body>
</html>
