<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Establecimientos</title>
</head>
<body>

  <h1>Lista de Establecimientos</h1>

  {% if establecimientos %}
    <ul>
      {% for establecimiento in establecimientos %}
        <li>{{ establecimiento[1] }}</li>  <!-- Cambia el índice según la estructura de tu base de datos -->
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay establecimientos disponibles.</p>
  {% endif %}

</body>
</html>
